[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "alchemist"]
	path = lib/alchemist
	url = git@github.com:tonini/alchemist.el.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-statistics"]
	path = lib/company-statistics
	url = git@github.com:company-mode/company-statistics.git
[submodule "counsel-notmuch"]
	path = lib/counsel-notmuch
	url = git@github.com:fuxialexander/counsel-notmuch.git
[submodule "counsel-projectile"]
	path = lib/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "crux"]
	path = lib/crux
	url = git@github.com:bbatsov/crux.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "default-text-scale"]
	path = lib/default-text-scale
	url = git@github.com:purcell/default-text-scale.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "docker"]
	path = lib/docker
	url = git@github.com:Silex/docker.el.git
[submodule "docker-tramp"]
	path = lib/docker-tramp
	url = git@github.com:emacs-pe/docker-tramp.el.git
[submodule "dockerfile-mode"]
	path = lib/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
[submodule "elixir-mode"]
	path = lib/elixir-mode
	url = git@github.com:elixir-lang/emacs-elixir.git
[submodule "elm-mode"]
	path = lib/elm-mode
	url = git@github.com:jcollard/elm-mode.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-elm"]
	path = lib/flycheck-elm
	url = git@github.com:bsermons/flycheck-elm.git
[submodule "flycheck-ledger"]
	path = lib/flycheck-ledger
	url = git@github.com:purcell/flycheck-ledger.git
[submodule "flycheck-ocaml"]
	path = lib/flycheck-ocaml
	url = git@github.com:flycheck/flycheck-ocaml.git
[submodule "flyspell-correct"]
	path = lib/flyspell-correct
	url = git@github.com:d12frosted/flyspell-correct.git
[submodule "fountain-mode"]
	path = lib/fountain-mode
	url = git@github.com:rnkn/fountain-mode.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = git@github.com:pidu/git-timemachine.git
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
[submodule "graphql-mode"]
	path = lib/graphql-mode
	url = git@github.com:davazp/graphql-mode.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "json-mode"]
	path = lib/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "ledger-mode"]
	path = lib/ledger-mode
	url = git@github.com:ledger/ledger-mode.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	info-path = Documentation
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "material-theme"]
	path = lib/material-theme
	url = git@github.com:cpaulik/emacs-material-theme.git
[submodule "merlin"]
	path = lib/merlin
	url = git@github.com:emacsmirror/merlin.git
[submodule "notmuch"]
	path = lib/notmuch
	url = git://notmuchmail.org/git/notmuch
[submodule "org"]
	path = lib/org
	url = git@code.orgmode.org:bzg/org-mode.git
[submodule "org-bullets"]
	path = lib/org-bullets
	url = git@github.com:emacsorphanage/org-bullets.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "pandoc-mode"]
	path = lib/pandoc-mode
	url = git@github.com:joostkremers/pandoc-mode.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "restclient"]
	path = lib/restclient
	url = git@github.com:pashky/restclient.el.git
[submodule "ripgrep"]
	path = lib/ripgrep
	url = git@github.com:nlamirault/ripgrep.el.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "shackle"]
	path = lib/shackle
	url = git@github.com:wasamasa/shackle.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "tuareg"]
	path = lib/tuareg
	url = git@github.com:ocaml/tuareg.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
