/.cask
/.hive-maint
/custom.el
/elpa
/var
/auto-save-list
/history
/bookmarks
/places
/backups
/eshell
/company-statistics-cache.el
/projectile-bookmarks.eld
/url
*.elc
/network-security.data
/nov-places